black==26.1.0
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
docstring-to-markdown==0.17
idna==3.11
importlib-metadata==8.7.1
iniconfig==2.3.0
jedi==0.19.2
mypy-extensions==1.1.0
packaging==26.0
parso==0.8.6
pathspec==1.0.4
platformdirs==4.9.2
pluggy==1.6.0
pygments==2.19.2
pytest==9.0.2
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.14.0
pytokens==0.4.1
requests==2.32.5
ruff==0.15.1
typing-extensions==4.15.0
ujson==5.11.0
urllib3==2.6.3
zipp==3.23.0
